<form action="/items" method="post">
  <p>Add a new item </p>
  <label for="name"> Name: </label>
  <input id="name" name="name" type="text">
  
  <label for="packed">packed: </label>
  <select id="packed" name="packed">
    <option value="true">Yes</option>
    <option value="false">No</option>
  </select>

  <label for="price"> price: </label>
  <input id="price" name="price" type="text">

  <label for="purchased">purchased: </label>
  <select id="purchased" name="purchased">
    <option value="true">Yes</option>
    <option value="false">No</option>
  </select> 

  <label for="weight"> weight: </label>
  <input id="weight" name="weight" type="text">

  <button type ="submit">Submit</button>
</form>
